<%# navigation styled for Zurb Foundation 5 %>

<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><%= link_to 'Home', root_path %></li>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</div>